.about-banner {
  background-image: url('../../asset/about/banner-6.png');
  background-repeat: no-repeat;
  background-size: 230%;
  background-position: 0% 100%;
  height: 100vh;
  margin-top: -5rem;
  padding: 20% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about-banner-headshot img {
  width: 20rem;
  border-radius: 20%;
}

.about-banner-bio {
  color: var(--background);
  font-weight: 200;
  padding: 0% 10%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
  margin-bottom: 2rem;
}

.about-banner-bio h3 {
  font-size: 2rem;
  font-weight: 200;
}

.about-banner-bio button {
  color: var(--background);
  border: 1px solid var(--background);
  z-index: 999;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 2px;
  padding: 3% 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--background);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 1s ease-in-out;
}

.about-banner-bio button:hover {
  color: var(--text);
}

.about-banner-bio button::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: var(--background);
  z-index: -1;
  transition: 1s;
}

.about-banner-bio button:hover::before {
  height: 100%;
}

@media (max-width: 768px) { 

}

@media (min-width: 769px) { 
  .about-banner {
    background-size: 200%;
    background-position: 100% 100%;
    padding: 10% 5%;
    gap: 0rem;
  }

  .about-banner {
    flex-direction: row;
    justify-content: space-around;
  }

  .about-banner-bio {
    margin: 0;
  }
}

@media (min-width: 993px) { 
  .about-banner {
    background-size: 180%;
    background-position: 100% 100%;
    padding: 10%;
    gap: 0rem;
  }
}

@media (min-width: 1201px) { 
  .about-banner {
    background-size: 180%;
    background-position: 100% 90%;
    padding: 10% 15%;
    gap: 0rem;
  }
}
