.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  color: var(--background);
  padding: 3rem;
}

.footer a {
  text-decoration: none;
}

.footer-logo {
  display: flex;
}

.footer-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.85rem;
}

.footer-section img {
  width: 100%;
}

.footer-section h3 {
  font-size: 1.25rem;
  font-weight: 200;
}

.footer-section ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-section li,  
.footer-section p {
  list-style: none;
  font-size: 0.875rem;
  font-weight: 200;
  transition: all 0.3s ease-in-out;
}

.footer-section li {
   cursor: pointer;
}

.footer-section li:hover {
  text-decoration: underline;
}

.footer-bot-socials {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.footer-bot-socials img {
  width: 1.75rem;
  filter: invert(1);
}

.footer-bot-copyright {
  text-align: center;
}

.footer .divider {
  margin-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3); 
}

.footer-logo {
  padding-right: 1.25rem;
}

.footer-logo img {
  width: 2rem;
  align-self: center;
  filter: invert(1);
}

.footer h2 {
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .footer {
    padding: 2rem 4rem;
  }

  .footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .footer-top {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
  }

  .footer-section ul {
    gap: 1rem;
  }

  .footer-section li,  
  .footer-section p {
    font-size: 0.875rem;
  }
}

@media (min-width: 1440px) {

}