.horoscope {
  background-color: var(--background);
  margin-top: -5rem;
  display: flex;
  flex-direction: column;
}

.horoscope-generator {
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horoscope-banner {
  background-image: url('../../asset/about/banner-11.png');
  height: 30vh;
  background-position: 0% 60%;
  background-size: 150%;
  z-index: 0;
}

.horoscope-day {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.horoscope-day button {
  background-color: var(--primary);
  color: var(--background);
  border: none;
  font-weight: 00;
  padding: 0.5rem 1.5rem;
  width: 30%;
  border-radius: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  margin: 0.5rem;
  transition: background-color 0.3s ease-in-out;
}

.horoscope-day button.active {
  background-color: var(--accent);
  color: var(--primary);
}

.horoscope-signs {
  width: 100%;
  max-width: 800px;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horoscope-signs-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem; 
}

.horoscope-signs-buttons button {
  background-color: var(--primary);
  color: var(--background);
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

.horoscope-signs-buttons button.active {
  background-color: var(--accent); 
  color: var(--primary);
}

.horoscope-signs-arrows {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.horoscope-signs-arrows img {
  width: 2rem;
}

.horoscope-text {
  display: flex;
  flex-direction: column;
  padding: 10%;
  gap: 1rem;
  text-align: center;
}

.horoscope-text h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-weight: 300;
  font-size: 1.5rem;
  font-family: 'Noto Sans KR', sans-serif;
}

.horoscope-text h3 img {
  width: 1.5rem;
}

.horoscope-text h2 {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--text);
}

.horoscope-text h2 img {
  width: 2rem;
}

.horoscope-text p {
  padding: 0 5%;
  line-height: 200%;
  height: 15rem;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 10%;
  cursor: pointer;
}

.fade-in-2 {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@media (max-width: 768px) { 

}

@media (min-width: 769px)  { 
  .horoscope-generator {
    padding: 5% 10%;
  }
}

@media (min-width: 993px) {
  .horoscope-generator {
    padding: 5% 15%;
  }
}

@media (min-width: 1201px) { 
  .horoscope-generator {
    padding: 3% 15%;
  }
}
